In [2]:
%matplotlib widget

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
N = 100

df = pd.DataFrame()
df['backpack'] = np.arange(N,-1,-1)

df['mass'] = 75+0.5*df['backpack']

df['baseball velocity'] = np.zeros(N+1)

df.at[1, 'baseball velocity'] = 15

df['my velocity'] = np.zeros(N+1)

df.at[1, 'my velocity'] = 7.5/df.at[1,'mass']

df['my momentum'] = df['mass']*df['my velocity']

for i in df.index[2:]:
    df.at[i,'baseball velocity'] = -15 + df.at[i-1, 'my velocity']
    df.at[i, 'my velocity'] = (df.at[i-1, 'my momentum'] - df.at[i, 'baseball velocity']*.5)/df.at[i, 'mass']
    df['my momentum'] = df['mass']*df['my velocity']

df['my velocity'].plot(linestyle='None', marker='o', mfc='None', xlabel='baseballs thrown', ylabel='my speed')

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [9]:
df['dv'] = df['my velocity'].diff()

In [10]:
df

     backpack   mass  baseball velocity  my velocity  my momentum        dv
0         100  125.0           0.000000     0.000000     0.000000       NaN
1          99  124.5          15.000000     0.060241     7.500000  0.060241
2          98  124.0         -14.939759     0.120725    14.969880  0.060484
3          97  123.5         -14.879275     0.181454    22.409517  0.060729
4          96  123.0         -14.818546     0.242429    29.818790  0.060976
..        ...    ...                ...          ...          ...       ...
96          4   77.0          -7.811044     7.286359   561.049623  0.097403
97          3   76.5          -7.713641     7.384398   564.906443  0.098039
98          2   76.0          -7.615602     7.483082   568.714244  0.098684
99          1   75.5          -7.516918     7.582420   572.472703  0.099338
100         0   75.0          -7.417580     7.682420   576.181493  0.100000

[101 rows x 6 columns]